html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;


}

/*搜索面板列表*/
.search_panel {
    width: 80%;
}

.search_panel_info {
    text-align: center;
    font-size: 14px;
    color: #888888;
    height: 35px;
}

.first_class, .second_class {
    text-align: center;
    width: 100px;
    height: 30px;
    display: inline-block;
    color: #888888;
}

.field {
    width: 180px;
    height: 30px;
    color: #888888;
}

/*订单界面列表*/
.order_panel {
    width: 90%;

}

.order_panel_title {
    text-align: center;
    background-color: #60707F;
    color: #E4E4E4;
    font-size: 14px;
    height: 35px;
}

.order_panel_info {
    text-align: center;
    font-size: 14px;
    color: #888888;
    height: 35px;
}

.btn {

    width: 80px;
    height: 30px;
    border: 1px solid #60707F;
    color: #60707F;
    background-color: white;
}

/*字体颜色*/
.font {
    color: #888888;
    font-size: 14px;
}

#myyy {
    width: 90%;
    margin: auto; /*块左右居中*/

}

#modal-footer {
    text-align: center;
}