* {
    margin: 0px;
    padding: 0px;

    color: #029789;
}

div {
    box-sizing: border-box;
}

a {
    color: #029789;
    text-decoration: none;
}

body {
    height: 943px;
}

#head {
    background-color: #2f261f;
    height: 10%;

}

#page-title {
    color: #029789;
    text-indent: 4em;
    height: 100%;
    width: 90%;
    padding-top: 20px;
    float: left;
}

#user-name-label {
    float: right;
    color: #029789;
    height: 100%;
    width: 10%;
    padding-top: 60px;
    padding-left: 25px;
}

#menu-label {
    float: right;
    color: #029789;
    height: 100%;
    width: 10%;
}

#user-name-label a:hover {
    color: cyan;
}

#aside {
    background-color: #2f261f;
    border-top-color: #029789;
    border-top-width: 1px;
    border-top-style: solid;
    height: 90%;
    width: 15%;
    float: left;
    box-sizing: border-box;
}

#aside h2 {
    text-indent: 1em;
    border-left-color: #029789;
    border-left-style: solid;
    border-left-width: 8px;
    border-bottom-color: #029789;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: #029789;
    border-top-width: 1px;
    border-top-style: solid;
}

#aside ul li {
    text-indent: 4em;
}

#aside ul li a:hover {
    color: #e8e8e8;
    background-color: #029789;
    display: block;
}

#section {
    background-color: #e8e8e8;
    height: 90%;
    width: 85%;
    float: right;
}

#myiframe {
    width: 100%;
    height: 100%;

}

#goods {
    margin-top: 100px; /*块距离顶部距离*/
    margin-left: 200px; /*块距离左部距离*/
    float: left;
}

#menu-label a:hover {
    color: #13ff49;
}
